body{
    font-family: 'Open Sans', sans-serif;
    
}
body, html {
     height: 100%;
}

      /* banner er kaj hero image diyeo kora jai. niche ami hero image diye korsi.  */
/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sword.gif");
   /* github e image likhar uporer format ta follow korte hbe must  */
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.bgcolor{
  background-color: #027F5B;
  position: sticky;
  top: 0;
}
.about-container{
  background-color: black;
  color: #027F5B;
}
.education-container{
  background-color: #027F5B;
  color: black;
  text-align: center;
}
.circle1{
  background-color: black;
  color: #027F5B;
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding-top: 30px;
}
.card1{
  background-color: black;
  color: #027F5B;
  text-align: center;
}
.read{
  color: #027F5B;
}